@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Smooch+Sans:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Junge&family=Smooch+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*****SITIO******/
    @import "./sitio/_header.scss";
    @import "./sitio/_footer.scss";
    @import "./sitio/_Logos.scss";
    @import"./sitio/_main.scss";

    /******INDEX****/
        @import "./sitio/index/_indexHeader.scss";
        @import "./sitio/index/_seccionBodega_Y_Productos.scss";
        @import "./sitio/index/_seccion_Viniedo.scss";

    /******BODEGA****/
        @import "./sitio/paginaBodega/_paginaBodega.scss";







