@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Smooch+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Junge&family=Smooch+Sans:wght@300;400&display=swap");
/*****SITIO******/
* {
  margin: 0;
  padding: 0;
}

header .headerNavbar {
  font-family: "Hurricane";
  font-style: italic;
  font-size: 1.5em;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  header .headerNavbar {
    font-size: 2em;
  }
}

header nav {
  background-image: url(../img/wood_1.png);
}

header nav .burguerIcon {
  background-color: silver;
  border: none;
  border-radius: 20%;
  -webkit-animation-name: colorTilt;
          animation-name: colorTilt;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes colorTilt {
  0% {
    opacity: 0;
    background-color: silver;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    opacity: 1;
    background-color: #b409b4;
    -webkit-box-shadow: 5px 5px 20px 10px rgba(180, 9, 180, 0.63);
            box-shadow: 5px 5px 20px 10px rgba(180, 9, 180, 0.63);
  }
  100% {
    opacity: 0;
    background-color: silver;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes colorTilt {
  0% {
    opacity: 0;
    background-color: silver;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    opacity: 1;
    background-color: #b409b4;
    -webkit-box-shadow: 5px 5px 20px 10px rgba(180, 9, 180, 0.63);
            box-shadow: 5px 5px 20px 10px rgba(180, 9, 180, 0.63);
  }
  100% {
    opacity: 0;
    background-color: silver;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

header nav .navegacion {
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

header nav .headerNavbar_Nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation-name: logoFadeIn;
          animation-name: logoFadeIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

header nav .backgroundDropDown {
  font-size: 1.5em;
  background-color: rgba(247, 239, 239, 0.74);
  white-space: pre-wrap;
}

header nav .menuFly {
  -webkit-animation-name: menuFly;
          animation-name: menuFly;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-box-shadow: -4px 4px 0px #bc2a8d;
          box-shadow: -4px 4px 0px #bc2a8d;
}

@-webkit-keyframes menuFly {
  from {
    top: 8cm;
  }
  to {
    top: 1.7cm;
  }
}

@keyframes menuFly {
  from {
    top: 8cm;
  }
  to {
    top: 1.7cm;
  }
}

header nav .dropdown-toggle::after {
  color: #bc2a8d;
}

@media (max-width: 570px) {
  header nav .dropdown-menu {
    min-width: 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

header .imgEncabezado {
  height: 350px;
  font-family: "Hurricane";
  letter-spacing: 5px;
  font-weight: lighter;
  color: silver;
}

header .imgEncabezado h1 {
  font-size: 2em;
  -webkit-animation-name: logoFadeIn;
          animation-name: logoFadeIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@media (min-width: 260px) {
  header .imgEncabezado h1 {
    font-size: 5em;
  }
}

@media (min-width: 400px) {
  header .imgEncabezado h1 {
    font-size: 8em;
    -webkit-transition: 3s;
    transition: 3s;
  }
}

footer {
  background-image: url(../img/wood_1.png);
}

footer .footer__NavBarSocial a {
  border: 5px solid silver;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

footer .footer__NavBarSocial a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation-name: lightf;
          animation-name: lightf;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 50%;
}

footer .footer__NavBarSocial a .face {
  background-color: #3b5998;
}

footer .footer__NavBarSocial a .face:hover {
  -webkit-animation: none;
          animation: none;
}

footer .footer__NavBarSocial a .insta {
  background-color: #bc2a8d;
}

footer .footer__NavBarSocial a .insta:hover {
  -webkit-animation: none;
          animation: none;
}

footer .footer__NavBarSocial a .wapp {
  background-color: #25D366;
}

footer .footer__NavBarSocial a .wapp:hover {
  -webkit-animation: none;
          animation: none;
}

footer .footer__NavBarSocial a .mail {
  background-color: #b2936d;
}

footer .footer__NavBarSocial a .mail:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes lightf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer__NavBar a {
  font-size: 2em;
  font-family: "Hurricane", cursive;
  text-decoration: none;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.footer__NavBar a:hover {
  text-shadow: 0px 0px 8px white, 39px -10px 20px silver, 15px -10px 1px #bc2a8e6c;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-text-stroke: 0.5px black;
  color: transparent;
}

.logo {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Junge", serif;
  -webkit-animation-name: logoFadeIn;
          animation-name: logoFadeIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.logo img:hover {
  -webkit-box-shadow: 7px 7px #999;
          box-shadow: 7px 7px #999;
  -webkit-transition: 1s;
  transition: 1s;
}

.logo img:active {
  -webkit-box-shadow: 4px 4px #666;
          box-shadow: 4px 4px #666;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

@-webkit-keyframes logoFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logoFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.woodBoard {
  background-image: url(../img/wood_1.png);
}

.woodBoard h5 {
  font-size: 2em;
  font-weight: lighter;
  font-family: "Inria Serif", serif;
  -webkit-text-decoration: underline solid silver 2px;
          text-decoration: underline solid silver 2px;
  color: silver;
  letter-spacing: 3px;
}

.parrafo {
  font-size: 1em;
  font-weight: normal;
  font-family: "Inria Serif", serif;
  text-decoration: none;
  color: silver;
  letter-spacing: 2px;
}

.titulo {
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Inria Serif", serif;
  -webkit-text-decoration: underline solid silver 2pxe;
          text-decoration: underline solid silver 2pxe;
  color: silver;
  letter-spacing: 3px;
}

@media (min-width: 768px) {
  .titulo {
    font-size: 3.5em;
  }
}

/******INDEX****/
.imgEncabezadoIndex {
  background-image: url(../img/IndexHeader.jpg);
  background-position: center 14cm;
}

.botonWoodBoardBodega, .botonWoodBoardProductos {
  color: silver;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 3px;
  font-family: "Hurricane";
  font-weight: 100;
  padding: 20px 20px;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.botonWoodBoardBodega:hover, .botonWoodBoardProductos:hover {
  cursor: pointer;
  -webkit-animation: none;
          animation: none;
  text-shadow: 0px 0px 8px white, 39px -10px 20px silver;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-text-stroke: 0.7px black;
  color: transparent;
}

@media (min-width: 576px) {
  .botonWoodBoardBodega, .botonWoodBoardProductos {
    font-size: 4em;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.botonWoodBoardProductos {
  border: 1px solid silver;
  margin: 10px;
  background-color: rgba(0, 255, 255, 0.137);
}

.sectionViñedoSubTitulo {
  font-size: 2em;
  letter-spacing: 3px;
  font-family: "Inria Serif", serif;
  color: silver;
  -webkit-text-decoration: underline solid silver 1px;
          text-decoration: underline solid silver 1px;
}

@media (min-width: 768px) {
  .sectionViñedoParrafo {
    font-size: 1em;
  }
}

.img {
  width: 450px;
}

.img .img1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 5s;
  transition: 5s;
  -webkit-box-shadow: -10px 10px 10px #3b589886;
          box-shadow: -10px 10px 10px #3b589886;
}

/******BODEGA****/
/***HEADER************/
.imgEncabezadoBodega {
  background-image: url(../img/BodegaHeader.jpg);
  background-position: center;
  background-size: cover;
}

/***WOODBOARD************/
.video {
  height: 500px;
}

/***IMAGENES************/
.contenedorImagenes__Img1234 {
  height: 275px;
  width: 275px;
}

.contenedorImagenes__Img1234:hover {
  height: 350px;
  width: 350px;
  -webkit-transition: 5s;
  transition: 5s;
  border: 5px solid white;
}
/*# sourceMappingURL=styles.css.map */