/***HEADER************/
.imgEncabezadoBodega {
    background-image: url(../img/BodegaHeader.jpg);
    background-position: center;
    background-size: cover;
  }  
 
/***WOODBOARD************/
.video {
    height: 500px;
    }
 
/***IMAGENES************/
.contenedorImagenes__Img1234 {
    height: 275px;
    width: 275px;
   
    &:hover {
    height: 350px;
    width:350px;
    transition: 5s;
    border: 5px solid white;
    }
}