header { 

    .headerNavbar {
        font-family: "Hurricane";
        font-style: italic;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
    @media (min-width:768px) {
        .headerNavbar {
        font-size: 2em;
        }    
    }

    nav { 
        background-image: url(../Img/wood_1.png);

        
        .burguerIcon {
            background-color: $colorPrimario;
            border: none;
            border-radius: 20%;
            animation-name: colorTilt;
            animation-duration: 8s;
            animation-iteration-count: infinite;
        }
        @keyframes colorTilt {
            0% {opacity: 0; background-color: $colorPrimario; box-shadow: none;}
            50% {opacity: 1; background-color: rgb(180, 9, 180); box-shadow: 5px 5px 20px 10px rgba(180, 9, 180, 0.63);}
            100% {opacity: 0; background-color: $colorPrimario; box-shadow: none;}
        }
    
        .navegacion {
            flex-basis: 0%;
        } 
        .headerNavbar_Nav {
            width: fit-content;
            animation-name: logoFadeIn;
            animation-duration: 5s;
        }
        .backgroundDropDown {
            font-size: 1.5em;
            background-color:rgba(247, 239, 239, 0.74);
            white-space: pre-wrap;
            
        }
        .menuFly {
            animation-name: menuFly;
            animation-duration: 3s;
            box-shadow: -4px 4px 0px #bc2a8d;
        }
        @keyframes menuFly {
            from {top:8cm;}
            to {top:1.7cm;}
        }
        .dropdown-toggle::after {
            color:#bc2a8d;
        }
        @media (max-width:570px) {
            .dropdown-menu {
            min-width: 0;
            width: min-content;
            }
            }
                }

        .imgEncabezado {
            height: 350px;
            font-family: "Hurricane";
            letter-spacing: 5px;
            font-weight:lighter;
            color: $colorPrimario;
        }
        .imgEncabezado h1 {
            font-size: 2em;
            animation-name: logoFadeIn;
            animation-duration: 5s;
        }
        @media (min-width:260px) {
            .imgEncabezado h1 {
                font-size: 5em;
            }    
            }
        @media (min-width:400px) {
        .imgEncabezado h1 {
            font-size: 8em;
            transition: 3s;
            }    
                }

                    }