.woodBoard {
    background-image: url(../Img/wood_1.png);

        h5 {
            font-size: 2em;
            font-weight: lighter;
            font-family: $tituloYparrafosFont;
            letter-spacing: 3px;
            text-decoration: underline solid $colorPrimario 2px;
            color: $colorPrimario;
        }
    
            }

.parrafo {
    font-style: italic;
    font-size: 1em;
    letter-spacing: 2px;
    font-family: $tituloYparrafosFont;
    text-align: justify;
    color: $colorPrimario;
}

.titulo {
    font-family: $tituloYparrafosFont;
    font-weight:100;
    text-decoration: underline solid $colorPrimario 2px;
    letter-spacing: 3px;
    font-size: 1.5em;
  }
  @media (min-width:768px) {
    .titulo {
      font-size: 3.5em;
    }
  }
