@mixin textoPropiedadesPrincipales ($tamanio, $peso, $familia, $subrayado, $colour, $espaciado ) {
  font-size: $tamanio;
  font-weight: $peso;
  font-family: $familia;
  text-decoration: $subrayado;
  color: $colour;
  letter-spacing: $espaciado;
}

.woodBoard {
    background-image: url(../img/wood_1.png);

        h5 {
          @include textoPropiedadesPrincipales(2em, lighter,$tituloYparrafosFont ,underline solid $colorPrimario 2px ,$colorPrimario ,3px)
        }
        
            }

.parrafo {
  @include textoPropiedadesPrincipales(1em,normal ,$tituloYparrafosFont ,none ,$colorPrimario ,2px);
}

.titulo {
  @include textoPropiedadesPrincipales(1.5em ,100 ,$tituloYparrafosFont ,underline solid $colorPrimario 2pxe ,$colorPrimario ,3px);
  }
  @media (min-width:768px) {
    .titulo {
      font-size: 3.5em;
    }
  }
