.botonWoodBoardBodega {
    color: $colorPrimario;
    font-size: 2em;
    font-style: italic;
    letter-spacing: 3px;
    font-family: "Hurricane";
    font-weight: 100;
    padding: 20px 20px;
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    &:hover {
        cursor: pointer;
        animation: none;
        text-shadow: 0px 0px 8px white, 39px -10px 20px $colorPrimario;
        transform: scale(1.02);
        transition: 1s;
        -webkit-text-stroke: 0.7px black;
        color: transparent;
    }
        }
@media (min-width:576px) {      
    .botonWoodBoardBodega {
    font-size: 4em;
    }
        }
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
 }

 .botonWoodBoardProductos {
     @extend .botonWoodBoardBodega;
     border: 1px solid silver;
     margin: 10px;
     background-color: rgba(0, 255, 255, 0.137);
 }